.app-container {
  background-image: linear-gradient(#ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #0f172a;
  font-size: 20px;
  padding: 20px;
}

.feed-card {
  width: 80vh;
  background-color: #ffffff;
  border-radius: 12px;
}

.heart-container {
  text-align: center;
  padding: 10px;
}

.emojis-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.emoji-img {
  width: 40px;
}
